<% title "About" %>
<h1>About Iterart</h1>
<p>Iterart is a tool for artists to version control and share artwork.</p>

<h2>How does it work?</h2>
<p>We will provide a welcoming community for artists who want to improve their work.</p>

<h2>When will it ship?</h2>
<p>We are aiming to launch officially before January. Before then, there will be stages of users testing in closed batches</p>