<% title "#{@user.username}" %>
<h1><%= @user.username %>'s Profile</h1>
<% if @artwork_iterations %>
<h2>Artwork</h2>
<div class="container-fluid">
  <div class="row">
    <% @artwork_iterations.each do |artwork| %>
      <%= link_to artwork do %>
      <div class="col-md-2 no-gutter">
        <%= image_tag artwork.image.url(:square), class: 'img-responsive' %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>