<h1>Listing projects</h1>
<div class="fluid-container">
  <div class="row">
    <% @projects.each do |project| %>
      <%= link_to(project, 
        title: project.name, 
        rel: 'tooltip', relative: true) do %>
        <div class="col-md-3 no-gutter">
        <%= image_tag(project.artwork_iterations.last.image.url(:square), 
        alt: "#{project.artwork_iterations.last.name}",
        class: 'img-responsive') %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
