<% title "Browsing" %>
<% @artwork_iterations.each do |artwork_iteration| %>

<%= link_to(artwork_iteration, title: artwork_iteration.name, rel: 'tooltip', relative: true) do %>
  <div class="col-md-3 no-gutter">
  <%= image_tag artwork_iteration.image.url(:square), 
  alt: "#{artwork_iteration.name}",
  class: 'img-responsive' %>
  </div>
<% end %>

<% end %>