<p id="notice"><%= notice %></p>
<%= image_tag @artwork_iteration.image.url %>

<%= link_to 'Edit', edit_artwork_iteration_path(@artwork_iteration) %> |
<%= link_to 'Back', artwork_iterations_path %>
